@font-face{
	font-family: sourcesans;
	src:url(../fuentes/SourceSans/SourceSansPro-Regular.otf);	
}

@font-face{
	font-family: sourcesans-light;
	src:url(../fuentes/SourceSans/SourceSansPro-Light.otf);	
}

@font-face{
	font-family: chunkfive;
	src:url(../fuentes/ChunkFive/Chunkfive.otf);	
}

@font-face{
	font-family: sourcesans-black;
	src:url(../fuentes/SourceSans/SourceSansPro-Black.otf);	
}